// ===================
// © AngelaMos | 2026
// styles.scss
// ===================

@forward 'styles/tokens';
@forward 'styles/fonts';
@forward 'styles/mixins';

@use 'styles/reset';
@use 'styles/fonts' as f;

body {
  font-family: f.$font-sans;
}

#root {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.app {
  flex: 1;
  display: flex;
  flex-direction: column;
}
